[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
py-cord = {git = "https://github.com/Pycord-Development/pycord"}

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"
