[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
google-api-python-client = "*"
py-cord = "==2.3.2"
python-json-logger = "*"
pymongo = {extras = ["srv"], version = "*"}
google-cloud-logging = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.9"
